<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Tune hub : Home</title>

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<br>

    <div class="head">
        <h1> Welcome To TuneHub....!</h1>
    </div>
    
     <br>
     <br>
     <br>
     
       <div class="home">
           <a href="login">LOGIN</a>
       </div>
       
           <br>
           <br>
       
       <div class="home">
          <a href="registration">REGISTER</a>
       </div>
</body>
</html>